@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    box-sizing: border-box;
    background-color: rgb(0, 0, 54);
}

.principal__conteudo{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.principal__conteudo__titulo{
    position: absolute;
    transform: translateY(80%);
    font-family: "Caveat", serif;
    font-size: 180%;
}

.principal__conteudo__lista{
    display: flex;
    flex-direction: column-reverse;
    gap: 6%;
    padding: 6% 4%;
    background-color: aliceblue;
    border: 10px inset gray;
}

.principal__conteudo__lista__item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14%;
    font-family: "Caveat", serif;
    font-size: 140%;
    display: flex;
    gap: 4%;
}

.principal__conteudo__lista__item__concluido{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14%;
    padding: 4%;
    font-family: "Caveat", serif;
    font-size: 140%;
    gap: 4%;
    color: green;
}

.principal__conteudo__lista__item__concluido::before{
    content: "";
    background-image: url("./checked.png");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: 70% 0%;
    padding: 8%;
}

.principal__conteudo__lista__item__concluir{
    padding: 2%;
    background-color: rgb(0, 97, 0);
    color: aliceblue;
    font-size: 60%;
    font-family: "Tiny5", serif;
}

.principal__conteudo__lista__item__remover{
    padding: 2%;
    background-color: #800000;
    color: aliceblue;
    font-size: 60%;
    font-family: "Tiny5", serif;
}

.principal__conteudo__lista__caixa{
    list-style: none;
    display: flex;
    gap: 4%;
    transform: translateX(-8%);
}

.principal__conteudo__lista__caixa button:nth-child(2){
    padding: 2%;
    background-color: rgb(0, 97, 0);
    color: aliceblue;
    font-size: 100%;
    font-family: "Tiny5", serif;
}

.principal__conteudo__lista__caixa button:nth-child(3){
    padding: 2%;
    background-color: rgb(255, 72, 0);
    color: aliceblue;
    font-size: 100%;
    font-family: "Tiny5", serif;
}

.principal__conteudo__lista__caixa__contador{
    padding: 6%;
    background-color: darkgray;
    font-family: "Tiny5", serif;
    border: 6px inset gray;
}

